<h3>listbook of all registered books!</h3>
<button (click)='listbooks()' >List Book Details </button>
<input [(ngModel)]="searchText" placeholder="search text goes here">
@if( this.bookarr.length>0)
{
<table>
    <thead>
        <tr>
          <th>bookid</th>
          <th>bookname</th>
          <th>bookprice</th>
        </tr>
    </thead>
    <tbody>
    @for (book of bookarr|filter: searchText; track book.id) {
         <tr>
           <td>{{book.id}}</td>
           <td>{{book.bkname}}</td>
           <td>{{book.bkprice}}</td>
        
           <td> <button (click)='delBook(book)'>Delete</button>
            <td> <button (click)='editBook(book)'>Edit</button> 
                
         </tr>
        }
    </tbody> 
    </table>

    @if(editflag==true)
    {
    <div>
        <hr>
        <input [(ngModel)]='temp.id' placeholder='book id' disabled/>
        <input [(ngModel)]='temp.bkname' placeholder='bookname'/>
        <input [(ngModel)]='temp.bkprice' placeholder='bookprice' />
        <button (click)='updateBook(temp)'>Ok</button>
        <button (click)='cancelBook(temp)'>Cancel</button>
    </div>
    }

}
@else
{
    <p>No Book Registered yet!</p>
}   
    